/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ----------------------------------------------------------------
 *  Nextflow config file for use with Singularity on local machine
 * ----------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
	enabled = true
}


process {
	cpus = {check_max ( 1 * task.attempt, 'cpus' ) }
 	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'
}

params {
  // Just to set some defaults
  max_memory = 16.GB
  max_cpus = 4
  max_time = 24.h
}