/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC cluster
 * -------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

singularity {
	enabled = true
}


process {
	executor = 'pbs'
	module = 'qbic/singularity/2.4'
	clusterOptions = { "-l nodes=1:ppn=${process.cpus}:cfc"}
	container = '/path/to/container.simg' #once bug in Singularity is fixed, we can switch back to using direct shub://commands again. https://github.com/singularityware/singularity/issues/1095
	cpus = 8
	memory = 32.GB
	time = 24.h
	queue = 'cfc'
}
